<%= simple_form_for(@trip, html: { class: 'custom-form' }) do |f| %>
  <div class="input-wrapper">
    <%= f.input :name, label: false, placeholder: "Enter a trip name", input_html: { style: "width: 338px; font-size: 18px; color: #7F7EFF;" } %>
  </div>
  <div class="button-wrapper">
    <%= f.button :submit, "Go!", class: "primary-button" %>
  </div>
<% end %>
