<div class="container" style="margin-top: 50px;>
  <div style="margin-top: 35px">
    <h2>Update your trip details</h2>
  </div>
  <div class="new-trip form-container">
    <%= render "form", trip: @trip %>
  </div>
</div>
