<div class="down-card">
  <div style="margin-top: 12px">
    <h2>Let’s create a new trip</h2>
    <p>Because life is a beach.</p>
  </div>
  <div class="new-trip">
    <%= render "form", trip: @trip %>
  </div>
</div>
