<h1>Hello</h1>

<%# Code to add to your show.html.erb  %>
<div>
  <a><%= link_to 'Edit trip details', edit_trip_path, class: "btn btn-light text-dark" %></a>
  <a><%= link_to 'Back to trip list', trips_path, class: "btn btn-info" %></a>
</div>
