<div class="journey-time">
  <div class="event-hour">
    <h2><%= @event.format_start_time %></h2>
    <p><%= @event.format_start_date %></p>
  </div>
  <div class="event-hour">
    <h2><%= @event.format_end_time %></h2>
    <p><%= @event.format_end_date %></p>
  </div>
</div>
