<div class="container">
  <div class="card-event">
    <div class="illustration">
      <p>✈️</p>
    </div>
    <div class="name">
      <p>Fly</p>
    </div>
  </div>
  <div class="card-event">
    <div class="illustration">
      <p>✈️</p>
    </div>
    <div class="name">
      <p>Fly</p>
    </div>
  </div>
  <div class="card-event">
    <div class="illustration">
      <p>✈️</p>
    </div>
    <div class="name">
      <p>Fly</p>
    </div>
  </div>
  <div class="card-event">
    <div class="illustration">
      <p>✈️</p>
    </div>
    <div class="name">
      <p>Fly</p>
    </div>
  </div>
  <div class="card-event">
    <div class="illustration">
      <p>✈️</p>
    </div>
    <div class="name">
      <p>Fly</p>
    </div>
  </div>
  <div class="card-event">
    <div class="illustration">
      <p>✈️</p>
    </div>
    <div class="name">
      <p>Fly</p>
    </div>
  </div>
  <div class="card-event">
    <div class="illustration">
      <p>✈️</p>
    </div>
    <div class="name">
      <p>Fly</p>
    </div>
  </div>
  <div class="card-event">
    <div class="illustration">
      <p>✈️</p>
    </div>
    <div class="name">
      <p>Fly</p>
    </div>
  </div>
  <div class="card-event">
    <div class="illustration">
      <p>✈️</p>
    </div>
    <div class="name">
      <p>Fly</p>
    </div>
  </div>
</div>
