<div class="horizontal-display" style="margin-top: 20px">
  <svg style="margin-right: 8px" width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_546_12)">
    <path d="M17 7.96875C17 11.7838 13.1949 14.875 8.50001 14.875C7.26817 14.875 6.09942 14.6625 5.04356 14.2807C4.64845 14.5695 4.0043 14.9646 3.24063 15.2967C2.44376 15.642 1.48419 15.9375 0.531258 15.9375C0.315438 15.9375 0.12286 15.808 0.0398518 15.6088C-0.043156 15.4096 0.00332838 15.1838 0.152742 15.0311L0.162703 15.0211C0.172664 15.0111 0.185946 14.9979 0.205867 14.9746C0.242391 14.9348 0.298836 14.8717 0.368563 14.7854C0.504696 14.6193 0.687313 14.3736 0.87325 14.0682C1.20528 13.517 1.52071 12.7932 1.5838 11.9797C0.587703 10.8508 8.07952e-06 9.46621 8.07952e-06 7.96875C8.07952e-06 4.15371 3.80509 1.0625 8.50001 1.0625C13.1949 1.0625 17 4.15371 17 7.96875Z" fill="#7F7EFF"/>
    </g>
    <defs>
    <clipPath id="clip0_546_12">
    <rect width="17" height="17" fill="white"/>
    </clipPath>
    </defs>
  </svg>
  <p><em><%= @event&.notes %></em></p>
</div>
