<div class="add-doc">
  <%= simple_form_for(@event, html: { class: 'custom-form' }) do |f| %>
    <h2 class="doc-h2">Add a document</h2>
    <%# fake form input — not an actual parameter, just captures intended label for uploaded file %>
    <%= f.input :file_label, as: :fake_select, collection: Event::FILE_LABELS, label_html: { style: 'background-color: #2B2A2A;' }, input_html: { style: 'width: 330px;' } %>
    <%= f.input :files, as: :file, label: false, input_html: { style: 'width: 330px;' } %>
    <%= f.submit 'Upload File', class: "primary-button", style: 'margin-top: 20px;' %>
  <% end %>
</div>
