<div id="hero">
  <img class="page-picture" src="/assets/pictures/capadoccia.png" alt="balloons in a blue sky in Capadocia">
  <h1>Tripper</h1>
</div>

<div class="page-flex">
  <h2>Making travel easy</h2>
  <p class="page-description" style="margin-bottom: 40px">All your reservations, flights and travel informations on a single place.</p>
  <a><%= link_to "Create an account", new_user_registration_path, class: "primary-button", style: "margin-bottom: 15px"%></a>
  <a><%= link_to "Login", new_user_session_path, class: "secondary-button"%></a>
  <i class="fa-solid fa-chevron-down" style="color: #ffffff; margin-top: 20px; margin-bottom: 10px"></i>
  <p>scroll down to learn more</p>
</div>

<div id="tuto" class="d-none">
  <h4>Store all your reservations, travel documents and plans</h4>
  <h4>Build itineraries that are easy to scan and search</h4>
  <h4>Fetch anything you need with one single click</h4>
</div>
