.primary-pill-button {
  width: fit-content;
  height: 34px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  border-radius: 22px;
  padding: 0 0.5rem;
  background: #7F7EFF;
  white-space: pre;
}

.secondary-pill-button {
  width: 150px;
  height: 34px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  font-size: 14px;
  font-weight: 700;
  text-align: center;

  border-radius: 22px;
  color: #7F7EFF;
  border: 2px solid #7F7EFF;
  background: rgba(43, 42, 42, 1);
}

.secondary-pill-button-doc {
  width: fit-content;
  height: 34px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  border-radius: 22px;
  white-space: pre;
  color: #7F7EFF;
  border: 2px solid #7F7EFF;
  background: #2b2a2a;
  padding: 0 0.5rem;
}

.secondary-pill-button a {
  color: #7F7EFF;
}

.primary-pill-button:hover {
  background: #9090e4;
}

.secondary-pill-button:hover {
  border: 2px solid #9090e4;
}

.secondary-pill-button a:hover {
  color: #9090e4;
}

.primary-button {
  width: 338px;
  height: 47px;
  border-radius: 11px;
  background: #7F7EFF;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  text-align: center;
}

.secondary-button {
  width: 338px;
  height: 47px;
  border-radius: 11px;
  border: solid #7F7EFF;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-decoration: none;
  color: #7F7EFF;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  text-align: center;
}

.secondary-button:hover {
  border: 2px solid #9090e4;
  color: #9090e4;
}

.primary-button:hover {
  background: #9090e4;
}


.event-button {
  width: 120px;
  height: 24px;

  border-radius: 42px;
  background: rgba(217, 217, 217, 0.01);
  box-shadow: 0px 0px 50px 3px rgba(0, 0, 0, 0.25);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
}

.event-button p{
  margin: 0;
}

.event-button-small {
  width: 80px;
  height: 24px;

  border-radius: 42px;
  background: rgba(217, 217, 217, 0.01);
  box-shadow: 0px 0px 50px 3px rgba(0, 0, 0, 0.25);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
}

.event-button-small p {
  font-size: 9px;
  margin: 0;
}

#expand-all-button {
  display: flex;
  width: 90%;
  justify-content: flex-end;
  margin: 0;
}

.trippers-pill {
  width: 90px;
  height: 40px;
  font-size: 14px;
  text-align: center;

  border-radius: 22px;

  background: rgba(217, 217, 217, 0.50);
}
