.carousel-item img {
  height: 790px;
}

.carousel-text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: white;
  padding: 20px;
}

.carousel-text h4 {
  margin-bottom: 10px;
}

.primary-button {
  outline: none;
  border: none;
}
