form {
  margin-top: 25px;
  background-color: #4A4949 !important;
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  padding: 6%;
}

form label {
  position: relative;
  right: -13px;
  top: 19px;
  padding-right: 8px;
  padding-left: 8px;
  background-color: #4A4949;
  color: #7F7EFF;
}

form .form-control {
  border: 2px solid #7F7EFF;
  border-radius: 11px;
  width: 90%;
  background-color: #4A4949 !important;
  color: #7F7EFF;
}

form .form-control:focus {
  color: white;
  background-color: #4A4949 !important;
  border-color: #86b7fe;
  outline: 0;
}

form .form-control::placeholder {
  color: #a5a3a3;
}

#add-task-form {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  padding: 0;
}

form .form-control:focus {
  color: white;
  outline: 0;
}

form .add-task-input {
  border: none;
  border-radius: 0;
}

form .add-task-button {
  border: none;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

form .input-wrapper input::placeholder {
  color: #7F7EFF;
}

.category-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.category-item {
  background-color: #4A4949;
  border-radius: 14px;
  padding: 8px;
  width: 7rem;
  margin: 2%;
}

.category-selector {
  position: absolute;
  transform: scale(0);
}

.category-selector + label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  font-size: 12px;
  text-align: left;
  padding: 10px 10px 30px 10px;
  border: 1px solid #920a0a;
  border-radius: 4px;
  background-color: rgb(165, 20, 20);
}

.category-selector:checked + label {
  color: white !important;
}
