form {
  margin-top: 25px;
  background-color: #4A4949 !important;
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  padding: 6%;
}

form #new_event, #edit_event_376 #new_user{
  background-color: rgb(43, 42, 42) !important;
}

.simple_form {
  background-color: rgb(43, 42, 42) !important;
}

form label {
  position: relative;
  right: -13px;
  top: 19px;
  padding-right: 8px;
  padding-left: 8px;
  background-color: rgb(43, 42, 42);
  color: #7F7EFF;
}

form .form-control, .form-select {
  border: 2px solid #7F7EFF;
  border-radius: 11px;
  background-color: #2b2a2a !important;
  color: #7F7EFF;
  width: 338px;
  height: 47px;
}

form .form-control:focus {
  color: white;
  background-color: #2b2a2a !important;
  outline: 0;
}

form .form-control::placeholder {
  color: #a5a3a3;
}

#add-task-form {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  padding: 0;
}

form .form-control:focus {
  color: white;
  outline: 0;
}

form .add-task-input {
  border: none;
  border-radius: 0;
}

form .add-task-button {
  border: none;
  text-decoration: none;
  margin: 5px 2px;
  cursor: pointer;
}

form .input-wrapper input::placeholder {
  color: #7F7EFF;
}

form ul {
  margin: 0;
}

.mapboxgl-ctrl-geocoder--input {
  border: 2px solid #7F7EFF;
  border-radius: 11px;
  width: 90%;
  background-color: #2b2a2a !important;
  color: #7F7EFF;
  width: 338px;
  height: 47;
}

.mapboxgl-ctrl-geocoder{
  background-color:  rgb(43, 42, 42);
  box-shadow: none !important;
}

.form-label {
  position: relative;
  right: -13px;
  top: 19px;
  padding-right: 8px;
  padding-left: 8px;
  background-color: rgb(43, 42, 42);
  color: #7F7EFF;
  z-index: 10;
}

.mapboxgl-ctrl-geocoder--button {
  background-color: rgb(43, 42, 42);
}

.mapboxgl-ctrl-geocoder--icon {
  fill: #7F7EFF;
}

.display-below {
  z-index: 0;
}

.mapboxgl-ctrl-geocoder .suggestions {
  position: relative;
  width: 338px;
  z-index: 1000;
}

.mapboxgl-ctrl-geocoder {
  color: white;
}

.mapboxgl-ctrl-geocoder--input:focus{
  color: white;
}

.form-text {
  color: #a5a3a3;
}

.add-doc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-form {
  background-color: #4A4949;
}

.doc-h2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 90%;
    margin-top: 10px;
    margin-bottom: -6px;
}

.custom-input {
  background-color: #4A4949 !important;
  // background-color: #4A4949;
}
