#hero {
  width: 390px;
  height: 520px;
  border-bottom-left-radius: 47px;
  border-bottom-right-radius: 47px;
  background: lightgray 50% / cover no-repeat;
  margin-bottom: 15px;
  position: relative;
}

#hero .page-picture {
  position: relative;
}

#hero h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.page-flex {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  transition: opacity 0.3s ease;
  opacity: 1;
}

.page-description {
  width: 60%;
  text-align: center;
}

#scroll-text {
  animation: flicker 2s infinite;
}

#tuto {
  margin-top: 800px;
}

.page-title {
  margin-top: 90px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.page-title h2{
  margin: 0;
}

.left-align {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 90%;
  margin-top: 16px;
  margin-bottom: 36px;
}

.documents {
  display: flex;
  flex-wrap: wrap;
  max-width: 340px;
}

.document {
  margin: 40px;
  flex: 0 0 calc(50% - 8px);
}


.horizontal-display {
  display: flex;
}
